@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind Animation Delays */
.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* Perspective for 3D transforms */
.perspective-1000 {
  perspective: 1000px;
}